@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);

p,b,h1,h2,h3,h4,a{font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif!important}
p, pre{font-size:1.15em;font-weight:300}

.title{text-align:center;background-color:#222;padding:1.5em;margin-bottom:4em}
.title *{color:#fff;font-weight:600}

footer{padding:1em;text-align:center}